.container {
    transition: 0s;
}

p {
    margin: 0;
}

a:link {
    text-decoration: none;
    color: white
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.project {
    transition: .4s;
}

.project:hover {
    transform: scale(1.05);
}

.front-side {
    z-index: 1;
    transform: scale(0.9);
    opacity: 1;
    transition: .4s;
}

.project:hover .front-side {
    opacity: 0;
}

.back-side {
    position: relative;
    top: -3.5em;
    left: 0em;
    z-index: 2;
    transform: scale(0.9);
    opacity: 0;
    transition: .4s;
}

.project:hover .back-side {
    display: inline;
    opacity: 1;
}
