a:link {
    text-decoration: none;
    color: white
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.front-side, .back-side {
    transition: .7s;
}

.project {
    animation: return .2s linear forwards;
}

@keyframes return {
    from { transform: scale(1.05);}
    to {  transform: scale(1);}
  }

.front-side {
    animation: in .2s linear forwards;
    z-index: 1;
    transform: scale(0.9);
    opacity: 1;
}

@keyframes in {
    from {display: none; opacity: 0}
    to { display: inline; opacity: 1}
}

.back-side {
    animation: out .2s linear forwards;
    position: absolute;
    top: 1em;
    left: -.25em;
    height: 2em;
    z-index: 2;
    transform: scale(0.9);
    opacity: 0;
}

@keyframes out {
    from {display: inline; opacity: 1}
    to {opacity: 0}
}

.project:hover .front-side {
    animation: firste .4s linear forwards;
}

@keyframes firste {
    from { display: inline; opacity: 1}
    to {display: none; opacity: 0}

}

.project:hover .back-side {
    animation: secunde .4s linear forwards;
}

@keyframes secunde {
    from { display: none; opacity: 0}
    to {display: inline; opacity: 1}

}

.project:hover{
    animation: fronte .2s linear forwards; 
}

@keyframes fronte {
  from { transform: scale(1);}
  to {  transform: scale(1.05);}
}

/* .project .back-side {
    opacity: 0;
}

.project:hover .front-side {
    opacity: 0;
}

.project:hover .back-side {
    opacity: 1;
} */